.navbar {
    background-color: #f8f9fa;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    list-style: none;
    margin: 0;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.navbar-logo {
    width: 90px;
    height: auto;
    border-radius: 20%;
    border: 2px solid #f0e9e9;
}

.btn-login {
    background-color: rgb(1, 7, 44);
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    text-align: center;
    font-weight: bold;
    margin-right: 10px;
}

.btn-cadastro {
    color: black;
    padding: 6px 12px;
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
    border: 2px solid rgb(1, 7, 44);
    display: inline-block;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px 20px;
}